@font-face {
    font-family: 'NHaasGroteskDSPro-65Md';
    src: url('https://denuncias.centraleaks.org/s/NHaasGroteskDSPro-65Md.woff2') format('woff2'),
        url('https://denuncias.centraleaks.org/s/NHaasGroteskDSPro-65Md.woff') format('woff'),
        url('https://denuncias.centraleaks.org/s/NHaasGroteskDSPro-65Md.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: local(''),
       url('https://denuncias.centraleaks.org/s/roboto-regular.woff2') format('woff2'),
       url('https://denuncias.centraleaks.org/s/roboto-regular.woff') format('woff'),
       url('https://denuncias.centraleaks.org/s/roboto-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

::-moz-selection {
  background: #969cff;
  text-shadow: none;
}

::selection {
  background: #969cff;
  text-shadow: none;
}
body{
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;  
}
h1, h2, h3, h4, h5, h6{
  font-family: 'NHaasGroteskDSPro-65Md', "Helvetica Neue", "Neue Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
}
#PageContent{
  background-color: #e9f0f5;
}
/*#HeaderBox{
  background-color: #454a99;
  color: #757575;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
  line-height: 1.9;
  width: 100%;
  padding: 35px 50px 25px;
  height: 93px;
}*/
#HeaderBox{
  background-color: #e9f0f5;
  line-height: 1.9;
  width: 100%;
  padding: 35px 50px 25px;
  min-height: 93px;
}
#HeaderBox .col-md-8{
  max-width: 100%;
  flex: 100%;
}
#HeaderBox .col-md-4{
  max-width: 100%;
  flex: 100%;
  text-align: center;
}
#HeaderBox #UserBox{
  float: none !important;
}
#LoginStatusBox{
  display: inline-block;
  margin-top: 2rem;
  float: none !important;
}

#LogoBox{
  width: 100% !important;
  display: block;
  text-align: center;
}
#TitleBox{
  display: none;
}
#TitleBox{
  font-size: .9em;
  text-transform: uppercase;
  color: #fff;
}
#LogoBox img {
  max-width: 200px;
  width: 100%;
  height: auto;
  /*max-height: 32.469px;*/
}
#FooterBox{
  padding: 1rem;
}
#WhistleblowingButton{
  margin-top: 0.5rem;
}
.whistleblower .btn, #ReceiptButton, #WhistleblowingButton.btn{
  background-color: transparent !important;
  padding: 0.35em 0.8em !important;
  border: 2px solid #363D3D !important;
  text-decoration: none !important;
  transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out;
  color: #363D3D !important;
  text-transform: uppercase;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0 !important;
  font-family: 'NHaasGroteskDSPro-65Md', "Helvetica Neue", "Neue Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  box-shadow: none !important;
}
#PrivacyBadgeDownloadLink .btn{
  background-color: #707a8a !important;
  border-color: #707a8a !important;
  color: #fff !important;
}
.whistleblower .btn:hover, .whistleblower .btn:active, #ReceiptButton:hover, #ReceiptButton:active, #WhistleblowingButton.btn:hover, #WhistleblowingButton.btn:active{
  background-color: #F6662A !important;
  color: #fff !important;
  border-color: #F6662A !important;
}

.whistleblower.btn.btn-success:hover, .whistleblower .btn.btn-success:active{
  background-color: #30c652 !important;
  color: #fff !important;
  border-color: #30c652 !important;
}

.whistleblower .selectCard.selected{
  border: 0;
  background-color: #bbbeff;
  color: #393939;
}
.whistleblower .selectCard{
  box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.35);
  font-size: .9rem;
  border-radius: 0px;
  background-color: #fffcf1;
}

.whistleblower .question-label{
  text-transform: uppercase;
  font-size: .9rem;
}

.whistleblower .form-control, .whistleblower .custom-select{
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06) !important;
}
.whistleblower .form-control:focus, .whistleblower .custom-select:focus{
  border-color: #c8d1e0 !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(145, 145, 145, 0.6) !important;
}

.whistleblower .nav-tabs .nav-link{
  position: relative;
  display: inline-block;
  padding: 10px !important;
  border: 1px solid transparent !important;
  border-radius: 0px !important;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  font-size: .8rem;
  color: #363D3D;
}
.whistleblower .nav-tabs .nav-link.active{
  color: #363D3D;
  border-color: #ccc !important;
  border-bottom: 1px solid #fff !important;
  margin-bottom: -1px;
  box-shadow: 0px -1px 5px 2px rgba(0,0,0,.1);
  z-index: 1;
}
/*.whistleblower .nav-tabs .nav-link::after{
  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 22px;
  height: 4px;
  background: #8d8d8d;
}

.whistleblower .nav-tabs .nav-link.active::after{
  background: #06c;
}*/

.whistleblower #ReceiptText{
  text-align: center !important;
}


#WhistleblowingQuestion{
  font-family: 'NHaasGroteskDSPro-65Md', "Helvetica Neue", "Neue Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1rem;
}
#WhistleblowerLoginBox {
  color: #333840;
  padding: 2rem;
  border-radius: 5px;
  display: inline-block;
  max-width: 420px;
  background-color: #fff;
}
#WhistleblowerSubmitBox{
  margin-top: 2rem;
}
#WhistleblowerLoginBox, #WhistleblowerSubmitBox {
    font-size: 1rem;
}
#WhistleblowerLoginForm{
  margin-top: 1.2rem;
}
#WhistleblowerLoginQuestion{
  font-family: 'NHaasGroteskDSPro-65Md', "Helvetica Neue", "Neue Helvetica", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  color: #717171;
}
#HomePageBox{
  padding: 1rem;
}
#ContentBox{
}
#ContentBox > .row > .col-md-12 > .row{
  text-align: center;
  justify-content: center;
}

#SubmissionButtons{
  text-align: center;
}

#PageContent.ext-authenticated{
  background-color: #fff;
}
.ext-authenticated #HeaderBox{
  background-color: #fff;
}

.ext-authenticated #LoginStatusBox{
  background-color: #e9f0f5;
}
.ext-authenticated #FooterBox{
  display: none;
}
.ext-authenticated #ContentBox > .row > .col-md-12 > .row {
  text-align: left;
  justify-content: initial;
}
.ext-authenticated #Toolbar{
  text-align: center !important;
}