@font-face {
    font-family: 'NHaasGroteskDSPro-65Md';
    src: url('NHaasGroteskDSPro-65Md.woff2') format('woff2'),
        url('NHaasGroteskDSPro-65Md.woff') format('woff'),
        url('NHaasGroteskDSPro-65Md.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/* roboto-regular */
@font-face {
  font-family: 'Roboto';
  src: local(''),
       url('roboto-regular.woff2') format('woff2'),
       url('roboto-regular.woff') format('woff'),
       url('roboto-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
